<<<<<<< HEAD

html {
    min-height: 100%;
<<<<<<< HEAD
  

}

body {
    text-align: center;

    background-color: none;
}


#img1 {
    float:right;
    position:fixed;
    margin-left:0;
    margin-top:0;
}

#img2 {
    float:left;
    position:fixed;
    margin-top:0px;
    margin-left:0px;
}


#container2 {
=======
}

body {

text-align: center;

} 


#container {
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    
    width:900px;
    height:100%;

    
<<<<<<< HEAD
    background-color:#99FFFF;
    
}

#container {
    
    width:900px;
    height:100%;
    background-color: none;

}

=======
    background-color:white;
    
}

>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
#table1 {
	margin-left:auto; 
    margin-right:auto;
    
    background-color: pink;
}

<<<<<<< HEAD
.boxtext {
    font-size:15px;
    font-family:"verdana", sans-serif;
    text-align:justify;
    line-height: 25px;
}

#undertext {
    font-style:italic;
    font-size:15px;
    font-family:"verdana", sans-serif;
    text-align:justify;
    line-height: 25px;
}

.formtext {
    font-family:"verdana", sans-serif;
    font-size:13px;

}

.formtext2 {
    font-family:"verdana", sans-serif;
    font-size:14px;
    font-weight: bold;
}

#submitknapp {
    width:100px;

}

#label1 {
    left:140px;
    top:140px;
    width:90px;
    font-weight: bold;
=======


#label1 {
    left:160px;
    top:105px;
    width:90px;
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}

#label2 {
    left:460px;
    top:285px;
    width:150px;
<<<<<<< HEAD
    font-weight: bold;
=======
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

<<<<<<< HEAD
#label3 {
    left: 360px;
    top: 80px;
    width:150px;
    font-weight: bold;
}

#label4 {
    left: 647px;
    top: 202px;
    width:150px;
    font-weight:bold;
}

#label5 {
    left: 590px;
    top: 350px;
    width:150px;
    font-weight:bold;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

#label6 {
    left: 128px;
    top: 367px;
    width:150px;
    font-weight:bold;
}

.labeltext {
    color: #F0F0F0 ;
    letter-spacing: 1px;
    text-shadow: 2px 2px #003300;
    
}
div.label {
    padding:10px;
    font-family: "verdana" Neue;
    font-size: 20px;
    line-height: 13px;
    position: absolute;
    color:#aaa;
    

=======
div.label {
    padding:10px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    color:#aaa;
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    -webkit-user-select:none;
	-moz-user-select:none;
}

div.label:hover {
    color:#333;
    cursor:pointer;
    cursor:hand;
<<<<<<< HEAD
    font-size:35px;
    line-height: 23px;
}

.infotext1 {

    position:fixed;
    left:30px;
    top:140px;

}

.table1 {
      width:400px;
    height: 100px;
    background-color: #fff;

    border-radius: 10px;
    border:3px solid #F8F8F8 ;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    -webkit-transform: rotate(+20deg);
    -moz-transform: rotate(+20deg);
}

#button1 {
    float:right;
    width:50px;
    height:15px;
    font-size:5px;
}

/*#button1 {

    display:none;
    position:fixed;
    left:240px;
    top:390px;
    width:50px;
    height: 15px;
    font-size: 5px;
    background-color: white;
    -webkit-transform: rotate(+20deg);
    -moz-transform: rotate(+20deg);
    z-index: 9999;
}*/

.infotext2 {
  
    position:fixed;
    left:360px;
    top:383px;
}

.table2 {
     width:320px;
    height: 140px;
    background-color: #fff;

    border-radius: 10px;
    border:3px solid #F8F8F8 ;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

.button {
    width:50px;
    height: 15px;
    float:right;
    font-size: 5px;
}

/*#button2 {
    display:none;
    position:fixed;
    left:650px;
    top:490px;
    width:50px;
    height:15px;
    font-size: 5px;
    background-color: white;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    z-index: 9999;
}*/

.infotext3 {
    position:fixed;
    left:260px;
    top:175px; 
}

.table3 {
     width: 350px;
    height: 140px;
    background-color: #fff;

    border-radius: 10px;
    border:3px solid #F8F8F8 ;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
}

/*#button3 {
    display:none;
    position:fixed;
    left:520px;
    top:320px;
    width:50px;
    height:15px;
    font-size: 5px;
    background-color: white;
}*/

.infotext4 {
    position:fixed;
    left: 556px;
    top: 295px;
    
}

.table4 {
    width: 350px;
    height: 140px;
    background-color: #fff;

    border-radius: 10px;
    border:3px solid #F8F8F8 ;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
}

/*#button4 {
    display:none;
    position:fixed;
    left:790px;
    top:380px;
    width:50px;
    height:15px;
    font-size: 5px;
    background-color: white;
}*/

.infotext5 {
    position:fixed;
    left: 520px;
    top: 450px;
    
}

.table5 {
    width: 320px;
    height: 140px;
    background-color: #fff;

    border-radius: 10px;
    border:3px solid #F8F8F8 ;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    font-weight:bold;
     -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

.infotext6 {
    position:fixed;
    left:42px;
    top:469px;
}

.table6 {
    width: 320px;
    height: 140px;
    background-color: #fff;

    border-radius: 10px;
    border:3px solid #F8F8F8 ;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    font-weight:bold;
}

/*#button5 {
    display:none;
    position:fixed;
    left: 830px;
    top:640px;
    width:50px;
    height:15px;
    font-size: 5px;
    background-color: white;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);


}*/


#text1 {
    display:none;
}

#text2 {
    display: none;
}

#text3 {
    display:none;
}

#text4 {
    display:none;
}

#text5 {
    display:none;
}

#text6 {
    display:none;
}

#text7 {
   display: none; 
}

#text8 {
    display:none;
}



.rubrikinfotxt {
    font-size: 15px;
    font-weight:bold;
    padding-bottom: 0px;
    margin-bottom: 2px;
    margin-top: 0px;
    font-family: 'rockwell';
}

.infotxt {
    font-size: 4pt;
    font-family: "verdana", sans-serif;
    padding-top: 0px;
    line-height: 10px;
    letter-spacing: 0px;
    font-weight: normal;
}

.infotxt2 {
    font-size:4px;
    font-family:"verdana", sans-serif;
    line-height: 7px;
    letter-spacing: 0px;
    font-weight: normal;
}

.infotxt3 {
    font-size:4px;
    font-family:"verdana", sans-serif;
    line-height: 5px;
    letter-spacing: 0px;
    font-weight: normal;
=======
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
}

.tree {
     pointer-events: none;
<<<<<<< HEAD
     -webkit-tap-highlight-color:transparent;
     margin-bottom:0px;
     margin-left:-60px;
=======

>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022


}


#content {
    position:relative;
<<<<<<< HEAD
    -webkit-tap-highlight-color:transparent;
=======
    
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    
}

#content2 {
    position:absolute;
    margin-left:140px;
    width:900px;
}

#sharelink {
    margin-right: 450px;
}

<<<<<<< HEAD
.menutxt {
    font-family: "verdana", sans-serif;
    font-weight: bold;
}

=======
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
#main-nav {
    width: 330px;
    margin-left: 285px;
    height: 68px;
<<<<<<< HEAD
    background: #F5F7F0;
    border:solid 1px #eeeeee;
=======
    background: #f2f2f2;
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
}
#main-nav .subnav {
    display: none;
    position: absolute;
    top: 67px;
    left: 0px;
    width: 100%;
    list-style-type: none;
<<<<<<< HEAD
    background: #F5F7F0;
=======
    background: #fff;
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    margin: 0;
    border:solid 1px #eeeeee;
    z-index:5;
    padding:0;
}
#main-nav .subnav li {
    display: block;
    border-bottom: solid 1px #eeeeee;
    margin:0;
    cursor: pointer;
}
#main-nav .subnav li a {
    color: #333;
    height:18px;
    padding:10px 0;
    font-size:13px;
<<<<<<< HEAD
    font-family: "verdana", sans-serif;
}
#main-nav .subnav li a:hover {
    background:#fff;
=======
}
#main-nav .subnav li a:hover {
    background:#f9f9f9;
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
}
#nav-primary {
    list-style-type: none;
    margin: 0;
    float: left;
    padding:0;
}
#nav-primary li {
    float: left;
    position: relative;
}
#nav-primary li a {
    float: left;
    color: #000;
    text-align: center;
    font-size: 14px;
<<<<<<< HEAD
    font-family: "verdana", sans-serif;
    font-weight:bold;
=======
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    height: 48px;
    padding-top: 19px;
    line-height: 16px;
    width: 164px;
    text-decoration:none;
}
#nav-primary li a:hover {
    text-decoration:none;
<<<<<<< HEAD
    background:#fff;
=======
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
}
#nav-primary li:hover .subnav {
    display: block;
}

#form {
    text-align:left;
	margin-top:0px;
    position: absolute;
    margin-left: 200px;
    background-color: #E8E8E8;;
    border:3px solid #ccc;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    margin-bottom: 200px;
    
   
}

#formfield {
    position:relative;
    margin-top: 150px;
    

}


<<<<<<< HEAD
.windows {
    display:none;
    z-index: 99999;
    background: #fff;
    position: absolute;
    margin-top: 0px;
    margin-left:150px;
    padding: 20px;
    width: 600px;
    border-radius:15px;
    border:3px solid #F8F8F8;
=======

.infotext1 {

    position:fixed;
    left:140px;
    top:200px;
    width:150px;
    -webkit-transform: rotate(+20deg);
    -moz-transform: rotate(+20deg);

}

#button1 {

    display:none;
    position:fixed;
    left:220px;
    top:310px;
    width:50px;
    height: 15px;
    font-size: 5px;
    background-color: white;
    -webkit-transform: rotate(+20deg);
    -moz-transform: rotate(+20deg);
    z-index: 9999;
}

.infotext2 {
  
    position:fixed;
    left:460px;
    top:380px;
    width:150px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);

}

#button2 {
    display:none;
    position:fixed;
    left:615px;
    top:435px;
    width:50px;
    height:15px;
    font-size: 5px;
    background-color: white;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    z-index: 9999;
}

#text1 {
    display:none;
}

#text2 {
    display: none;
}

#text3 {
    display:none;
}

#text4 {
    display:none;
}

.windows {
    display:none;
    z-index: 99999;
    background-color: #E8E8E8;
    position: absolute;
    margin-top: 80px;
    margin-left:150px;
    padding: 20px;
    width: 600px;
    border:3px solid #ccc;
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    
}

<<<<<<< HEAD
=======
#solution #share{
    font-family: "Georgia", serif;
    font-size: 12pt;
}

>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022



a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.boxclose:before {
    content: "×";

}

<<<<<<< HEAD
#boxcloselabel {
    margin-right: -12px;
    font-size: 12px;
    padding-top:5px;
    padding-bottom:7px;
}
=======
>>>>>>> a807ef084136acfb668a45bc27c429d236fb1022



/*
#viewport #content {
	width: 800px;
}

#viewport {
	background-color: blue;
    height:600px;
    
    
	position:relative;
	
	margin:35px auto 0px auto;
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    
    overflow-y:scroll;
    overflow-x:hidden;

   }

   .zoomContainer div {
    float:left;
    background-color:#eeeedf;
	width:250px;
	margin:20px;
	padding:50px;
	overflow:hidden;
}

#rubrik {
	position: fixed;
	margin-top: 50px;
	z-index: +1;
} 


=======
body {
text-align: center; 

}

 
.image {
	margin: auto;
	width: 904px;

}

.table1 {
	position: absolute; 
   top: 200px; 
   left: 200px; 
   width: 100%; 

}

hgroup {
position: fixed;
margin-top: 35px;
margin-bottom: 80px;
}

h1 {
color: #F9B7FF; 
font-family: Bookman Old Style, serif;
text-shadow:2px 2px #FDFDF0;
font-size: 36px;

}
>>>>>>> 53b182ce677acd40116d26a08470b1bf08e28883
