<<<<<<< HEAD

html {
    min-height: 100%;
}

body {

text-align: center;

} 


#container {
    
    width:900px;
    height:100%;

    
    background-color:white;
    
}

#table1 {
	margin-left:auto; 
    margin-right:auto;
    
    background-color: pink;
}



#label1 {
    left:160px;
    top:105px;
    width:90px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}

#label2 {
    left:460px;
    top:285px;
    width:150px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

div.label {
    padding:10px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    color:#aaa;
    -webkit-user-select:none;
	-moz-user-select:none;
}

div.label:hover {
    color:#333;
    cursor:pointer;
    cursor:hand;
}

.tree {
     pointer-events: none;



}


#content {
    position:relative;
    
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    
}

#content2 {
    position:absolute;
    margin-left:140px;
    width:900px;
}

#sharelink {
    margin-right: 450px;
}

#main-nav {
    width: 330px;
    margin-left: 285px;
    height: 68px;
    background: #f2f2f2;
}
#main-nav .subnav {
    display: none;
    position: absolute;
    top: 67px;
    left: 0px;
    width: 100%;
    list-style-type: none;
    background: #fff;
    margin: 0;
    border:solid 1px #eeeeee;
    z-index:5;
    padding:0;
}
#main-nav .subnav li {
    display: block;
    border-bottom: solid 1px #eeeeee;
    margin:0;
    cursor: pointer;
}
#main-nav .subnav li a {
    color: #333;
    height:18px;
    padding:10px 0;
    font-size:13px;
}
#main-nav .subnav li a:hover {
    background:#f9f9f9;
}
#nav-primary {
    list-style-type: none;
    margin: 0;
    float: left;
    padding:0;
}
#nav-primary li {
    float: left;
    position: relative;
}
#nav-primary li a {
    float: left;
    color: #000;
    text-align: center;
    font-size: 14px;
    height: 48px;
    padding-top: 19px;
    line-height: 16px;
    width: 164px;
    text-decoration:none;
}
#nav-primary li a:hover {
    text-decoration:none;
}
#nav-primary li:hover .subnav {
    display: block;
}

#form {
    text-align:left;
	margin-top:0px;
    position: absolute;
    margin-left: 200px;
    background-color: #E8E8E8;;
    border:3px solid #ccc;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    margin-bottom: 200px;
    
   
}

#formfield {
    position:relative;
    margin-top: 150px;
    

}



.infotext1 {

    position:fixed;
    left:140px;
    top:200px;
    width:150px;
    -webkit-transform: rotate(+20deg);
    -moz-transform: rotate(+20deg);

}

#button1 {

    display:none;
    position:fixed;
    left:220px;
    top:310px;
    width:50px;
    height: 15px;
    font-size: 5px;
    background-color: white;
    -webkit-transform: rotate(+20deg);
    -moz-transform: rotate(+20deg);
    z-index: 9999;
}

.infotext2 {
  
    position:fixed;
    left:460px;
    top:380px;
    width:150px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);

}

#button2 {
    display:none;
    position:fixed;
    left:615px;
    top:435px;
    width:50px;
    height:15px;
    font-size: 5px;
    background-color: white;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    z-index: 9999;
}

#text1 {
    display:none;
}

#text2 {
    display: none;
}

#text3 {
    display:none;
}

#text4 {
    display:none;
}

.windows {
    display:none;
    z-index: 99999;
    background-color: #E8E8E8;
    position: absolute;
    margin-top: 80px;
    margin-left:150px;
    padding: 20px;
    width: 600px;
    border:3px solid #ccc;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    
}

#solution #share{
    font-family: "Georgia", serif;
    font-size: 12pt;
}




a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.boxclose:before {
    content: "×";

}




/*
#viewport #content {
	width: 800px;
}

#viewport {
	background-color: blue;
    height:600px;
    
    
	position:relative;
	
	margin:35px auto 0px auto;
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    
    overflow-y:scroll;
    overflow-x:hidden;

   }

   .zoomContainer div {
    float:left;
    background-color:#eeeedf;
	width:250px;
	margin:20px;
	padding:50px;
	overflow:hidden;
}

#rubrik {
	position: fixed;
	margin-top: 50px;
	z-index: +1;
} 


=======
body {
text-align: center; 

}

 
.image {
	margin: auto;
	width: 904px;

}

.table1 {
	position: absolute; 
   top: 200px; 
   left: 200px; 
   width: 100%; 

}

hgroup {
position: fixed;
margin-top: 35px;
margin-bottom: 80px;
}

h1 {
color: #F9B7FF; 
font-family: Bookman Old Style, serif;
text-shadow:2px 2px #FDFDF0;
font-size: 36px;

}
>>>>>>> 53b182ce677acd40116d26a08470b1bf08e28883
