body {
text-align: center; 

}

 
.image {
	margin: auto;
	width: 904px;

}

.table1 {
	position: absolute; 
   top: 200px; 
   left: 200px; 
   width: 100%; 

}

hgroup {
position: fixed;
margin-top: 35px;
margin-bottom: 80px;
}

h1 {
color: #F9B7FF; 
font-family: Bookman Old Style, serif;
text-shadow:2px 2px #FDFDF0;
font-size: 36px;

}